
body {
    font-family: "Lato", sans-serif;
   background-image: url(/image/gradient-black-blue-linear-3840x2160-c2-000000-00ced1-a-15-f-14.svg);
}



.main-head{
    height: 150px;
    background: rgb(33, 117, 143);
   
}

.sidenav {
    height: 100%;
    background-image: linear-gradient(rgb(48, 15, 199), rgb(164, 153, 224));
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 0px;
    padding-left: 4em;
   
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
        
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 30%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    width: 50%;
    padding: 100px;
    color: #f2f4f7;
    font-family: cursive;
    font-weight: bold;
}

.login-main-text h2{
    font-weight: 400;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
    
}
