
html { overflow-y: scroll; }

* {
    
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid rgb(146, 144, 144);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #211080;
    color: white;
    align-items: center;
    padding: 12px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    
  }
  
  input[type=submit]:hover {
    background-color: #6f0e96;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(rgb(86, 87, 167), rgb(177, 235, 243));
    background-color: #9dd0f1;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
::-webkit-scrollbar {
  display: none;
}

.container-image{
width: 90%;
height: 625px;
max-width: 960px;
margin: 0 auto;
padding: 30px;
background: rgb(255, 255, 255);
background-image: url(/image/modern-dark-blue-combine-red-shape-banner-background_82226-24.jpg);
display: flex;
justify-content: left;
align-items: center;
}
.msg{
font-size: 60px;
font-weight: bold;
background: linear-gradient(to right, #7927b2, #fb3182);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
max-width: 300px;
text-transform: uppercase;
line-height: .78;
letter-spacing: 1px;
}
